<div class="profile-me my-5">
  <div class="container">
    <div class="profile-header mb-4" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
      <h1 class="m-0" style="color: #3e5379;">My Profile</h1>
      <div class="btn-group">
        <a style="background: #3e5379;" href="/user/profiles" class="btn float-right text-light">Back</a>
        <a style="background: #3e5379;" href="/user/profiles/edit/{{profile.id}}" class="btn float-right text-light">Edit</a>
      </div>
    </div>
    <hr>
    <div class="profile-main mb-5">
      <div class="profile-main-top">
        <img src="{{profile.avatar}}" style="width: 400px" class="rounded" alt="...">
        <br>
        <br>
        <h3>{{profile.user.name}}</h3>
        <br>
        <p class="lead">
          <i class="fas fa-map-marker-alt"></i>
          {{profile.location}}
        </p>
        <p class="lead">{{profile.status}}</p>
        <br>
        <p class="lead">
          <a href="#!" class="btn btn-danger">Delete Account</a>
        </p>
        <hr>
      </div>
      <div class="profile-main-bottom">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Company</strong><br>
            </li>
            <li class="list-group-item">
              <span>{{profile.company}}</span>
            </li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Website</strong><br>
            </li>
            <li class="list-group-item">
              <span>{{profile.website}}</span>
            </li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Skills</strong>
            </li>
            {{#each profile.skills}}
              <li class="list-group-item">
                <span>{{this}}</span>
              </li>
            {{/each}}
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Bio</strong>
            </li>
            <li class="list-group-item">{{profile.bio}}</li>
          </ul>
      </div>
    </div>
      {{#if profile.social}}
        <h4>Follow</h4>
        <div class="profile-follow">
          <div class="social">
            {{#if profile.social.youtube}}
              <a href="{{profile.social.youtube}}">
                <i class="fab fa-youtube fa-3x text-danger"></i>
              </a>
            {{/if}}
          </div>
          <div class="social">
            {{#if profile.social.twitter}}
              <a href="{{profile.social.twitter}}">
                <i class="fab fa-twitter fa-3x"></i>
              </a>
            {{/if}}
          </div>
          <div class="social">
            {{#if profile.social.facebook}}
              <a href="{{profile.social.facebook}}">
                <i class="fab fa-facebook fa-3x text-primary"></i>
              </a>
            {{/if}}
          </div>
          <div class="social">
            {{#if profile.social.linkedin}}
              <a href="{{profile.social.linkedin}}">
                <i class="fab fa-linkedin fa-3x"></i>
              </a>
            {{/if}}
          </div>
          <div class="social">
            {{#if profile.social.instagram}}
              <a href="{{profile.social.instagram}}">
                <i class="fab fa-instagram fa-3x text-dark"></i>
              </a>
            {{/if}}
          </div>
          <div class="social">
            {{#if profile.social.github}}
              <a href="{{profile.social.github}}">
                <i class="fab fa-github fa-3x text-secondary"></i>
              </a>
            {{/if}}
          </div>
        </div>
      {{/if}}
  </div>
</div>