<div class="items my-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-12">
        <h1 style="color: #3e5379;">{{ title }}</h1>
      </div>
    </div>
    <hr>
    <div class="row mb-4">
      <div class="col-sm-12">
        <input class="form-control border-0" type="search" placeholder="Start Searching Items..." aria-label="Search">
      </div>
    </div>
    {{#if items}}
    <div class="grid-items">
      {{#each items}}
      <div class="grid-item">
        <div class="card">
          <img class="card-img-top" src="{{image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text lead">$ {{price}}</p>
            <div class="btn-like">
              <a href="/items/like/{{_id}}" class="btn btn-outline-primary m-2">
                <i class="fas fa-thumbs-up"></i>
                {{#if likes.length}}
                <span class="like-count">{{likes.length}}</span>
                {{/if}}
              </a>
              <a href="/items/unlike/{{_id}}" class="btn btn-outline-secondary m-2">
                <i class="fas fa-thumbs-down"></i>
                {{#if unlikes.length}}
                <span class="like-count">{{unlikes.length}}</span>
                {{/if}}
              </a>
            </div>
          </div>
          <div style="justify-content: center" class="card-footer">
            <div class="btn-group">
              <a href="/cart/add/{{_id}}" class="btn btn-success">
                <i class="fas fa-plus"></i>
                Add to Cart
                </a>
              <a href="/items/{{_id}}" class="btn btn-primary">
                <i class="fas fa-search-plus"></i>
                Explore
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>