<div class="item">
  <img class="item-img" src="{{item.image}}" alt="">
  <h1 class="display-4 item-name">{{ item.name }}</h1>
  <div class="item-details">
    <div class="item-box">
      <h1 class="display-4">Price</h1>
      <h1 class="display-4">$ {{item.price}}</h1>
    </div>
    <div class="item-box">
      <h1 class="display-4">Provider</h1>
      <h1 class="display-4">{{item.provider}}</h1>
    </div>
    <div class="item-box">
      <h1 class="display-4"><i class="far fa-thumbs-up fa-2x"></i></h1>
      <h1 class="display-4">{{item.likes.length}}</h1>
    </div>
    <div class="item-box">
      <h1 class="display-4"><i class="far fa-thumbs-down fa-2x"></i></h1>
      <h1 class="display-4">{{item.unlikes.length}}</h1>
    </div>
    <button class="btn btn-dark btn-lg" type="button" data-toggle="collapse"  data-target="#collapseExample" aria-expanded="false"  aria-controls="collapseExample">
    View Users
    </button>
    <div class="collapse mt-3" id="collapseExample">
      <div class="card card-body">
        {{#if item.users.length}}
          <ul class="list-group">
            {{#each item.users}}
              <li class="list-group-item">
                {{name}}
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p class="lead">No users found...</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>